In [1]:
from pathlib import Path
import pandas as pd

In [6]:
# Specify the file path
rain = '../Resources/rain.csv'

# Use pandas to read the CSV file
rain_df = pd.read_csv(rain)
# Drop columns 15 and onward
rain_df = rain_df.drop(rain_df.columns[31:], axis=1)

In [7]:
rain_df

,Date,509704,Quality,509573,Quality.1,509398,Quality.2,509452,Quality.3,509417,...,W0034613,Quality.10,509703,Quality.11,509458,Quality.12,509459,Quality.13,509451,Quality.14
0,1/07/2023,0.0,99,0.0,99,0.0,99,0.0,99,0.0,...,0.0,99,0.0,99,0.0,99,0.0,99,0.0,99
1,2/07/2023,0.0,99,0.0,99,0.0,99,0.0,99,0.0,...,0.0,99,0.0,99,0.0,99,0.0,99,0.0,99
2,3/07/2023,19.2,99,14.0,99,14.4,99,17.2,99,17.2,...,19.8,99,18.6,99,20.2,99,17.0,99,15.4,99
3,4/07/2023,3.2,99,5.8,99,3.6,99,4.4,99,4.0,...,3.6,99,2.8,99,3.2,99,9.6,99,3.4,99
4,5/07/2023,6.4,99,10.2,99,4.2,99,6.6,99,6.4,...,7.6,99,5.8,99,3.8,99,6.6,99,7.6,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,31/10/2023,0.0,99,0.0,99,0.0,99,0.0,99,0.0,...,0.0,99,0.0,99,0.0,99,0.0,99,0.0,99
123,1/11/2023,0.0,99,0.0,99,0.0,99,0.0,99,0.0,...,0.0,99,0.0,99,0.0,99,0.0,99,0.0,99
124,2/11/2023,0.0,99,0.0,99,0.0,99,0.0,99,0.0,...,0.0,99,0.0,99,0.0,99,0.0,99,0.0,99
125,3/11/2023,0.0,99,0.0,99,0.0,99,0.0,99,0.4,...,0.0,99,0.0,99,0.0,99,0.0,99,0.0,99
126,4/11/2023,0.0,99,0.0,99,0.0,99,NaN,255,NaN,...,0.0,99,NaN,255,0.0,99,NaN,255,NaN,255

In [8]:
# Specify the file path
stream = '../Resources/streamflow.csv'

# Use pandas to read the CSV file
stream_df = pd.read_csv(stream)
# Drop columns 15 and onward
stream_df = stream_df.drop(stream_df.columns[15:], axis=1)

In [9]:
stream_df

,Date,616042,Quality,616043,Quality.1,616047,Quality.2,616015,Quality.3,616045,Quality.4,616046,Quality.5,616044,Quality.6
0,1/07/2023,10.162,99,10.120,99,10.086,99,10.052,99,10.058,99,10.057,99,10.105,99
1,2/07/2023,10.158,99,10.116,99,10.082,99,10.051,99,10.058,99,10.054,99,10.101,99
2,3/07/2023,10.254,99,10.185,99,10.186,99,10.115,99,10.083,99,10.127,99,10.151,99
3,4/07/2023,10.333,99,10.248,99,10.191,99,10.104,99,10.066,99,10.118,99,10.178,99
4,5/07/2023,10.271,99,10.200,99,10.194,99,10.093,99,10.072,99,10.108,99,10.183,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,1/11/2023,10.079,99,10.091,99,10.044,99,10.011,99,10.052,99,10.030,99,10.068,99
124,2/11/2023,10.078,99,10.089,99,10.041,99,10.008,99,10.052,99,10.027,99,10.058,99
125,3/11/2023,10.077,99,10.090,99,10.039,99,10.006,99,10.052,99,10.029,99,10.050,99
126,4/11/2023,10.083,99,10.089,99,10.038,99,10.002,99,10.052,99,10.035,99,10.064,99
127,5/11/2023,10.077,99,10.089,99,10.039,99,9.999,99,10.052,99,10.041,99,10.059,99